body {
  font-family: 'Open Sans', sans-serif;
}


/* Header styling */
header {
  background-color: #E5F3F2;
  padding-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  width: 60%;
}

h1 {
 color: #00A79D;
 font-family: 'Roboto Slab', serif;
 font-size: 40px;
 text-align: center;
 margin-bottom: 20px;
}

.box-title {
  color: #6D6E71;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 6px 0;
}

input[type="text"] {
  border: 1.4px solid #CAC8C8;
  padding: 5px;
}

.save-button {
  background-color: #00A79D;
  color: white;
  font-size: 17px;
  padding: 4px;
  margin-bottom: 24px;
}

.save-button:disabled {
  background-color: #00A79D;
  opacity: .6;
}

.save-button:disabled:hover {
  background-color: #00A79D;
  opacity: .6;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  opacity: .7;
}

.save-button:disabled:hover {
  background-color: #00A79D;

}

::placeholder {
  color: #cac8c8;
  font-size: 18px;
}

/* Main styling */

.search-input {
  width: 100%;
}

.search-container {
  width: 60%;
  margin: 17px auto;
  max-width: 500px;
  display: flex;
}

article {
  border-bottom: 2px solid #D1D3D4;
  margin: 0 auto;
  max-width: 500px;
  width: 60%;
}

h2 {
 color: #6D6E71;
 font-family: 'Roboto Slab', serif;
}

.idea-header-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.idea-rating-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
  position: relative;
}

p {
  color: #939598;
  margin: 18px 0;
}

.idea-title {
  font-size: 25px;
}

img {
  width: 32px;
  height: 32px;
}

.arrow {
  margin-right: 14px;
}

.idea-rating-container i {
  margin-right: 20px;
}

h3 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  margin-right: 4px;
  padding-top: 6px;
}

.quality-value {
  font-family: 'Open Sans', sans-serif;
}

/*TAGS STYLING*/

.tags-container {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  flex-wrap: wrap;
}

.tags-title {
  margin-top: 3px;
}

.global-tags-container {
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 500px;
}

.tag, 
.global-tag {
  background-color: #E5F3F2;
  border: 1px solid #00A79D;
  border-radius: 3px;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  margin: 3px 3px;
}

.global-tag:hover {
  background-color:#00A79D;
  border-color: #E5F3F2;
  color: white;
}

@media only screen and (max-width: 700px) {
    header {
      padding-top: 10px;
    }
    form {
      width: 87%;
    }
    article {
      width: 87%;
    }
    h1 {
      font-size: 26px ;
      margin-bottom: 10px;
    }
    .body-input {
      height: 60px;
    }
    .body-input::placeholder {
      bottom: 23px;
      position: relative;
    }
    .search-container {
      width: 87%;
    }
    img {
      height: 22px;
      width: 22px;
    }
    h3 {
      font-size: 15px;
      padding-top: 2px;
    }
    .save-button {
      margin-bottom: 15px;
    }
    .idea-title {
      font-size: 20px;
    }
    .search-container {
      margin: 9px auto 23px auto;
    }
    .idea-rating-container {
      margin-bottom: 14px;
    }
    p {
      line-height: 18px;
    }
}
