body {
  font-family: 'Open Sans', sans-serif;
}


/* Header styling */
header {
  background-color: #E5F3F2;
  padding-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  width: 50%;
}

h1 {
 color: #00A79D;
 font-family: 'Roboto Slab', serif;
 font-size: 40px;
 text-align: center;
 margin-bottom: 20px;
}

.box-title {
  color: #6D6E71;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 6px 0;
}

input[type="text"] {
  border: 1.5px solid #CAC8C8;
  padding: 5px;
}

.save-button {
  background-color: #00A79D;
  color: white;
  font-size: 17px;
  padding: 4px;
  margin-bottom: 24px;
}

.save-button:hover {
  background-color: #045E55;
}

.save-button:disabled {
  opacity: .7;
}

.save-button:disabled:hover {
  background-color: #00A79D;

}

::placeholder {
  color: #cac8c8;
}

/* Main styling */

.search-input {
  width: 100%;
}

.search-container {
  width: 50%;
  margin: 20px auto;
  max-width: 500px;
  display: flex;
}

article {
  border-bottom: 1px solid #D1D3D4;
  margin: 0 auto;
  max-width: 500px;
  width: 50%;
}

h2 {
 color: #6D6E71;
 font-family: 'Roboto Slab', serif;
}

.idea-header-container {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.idea-rating-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
  position: relative;
}

p {
  color: #939598;
  margin: 18px 0;
}

.idea-title {
  font-size: 25px;
}

img {
  width: 32px;
  height: 32px;
}

.arrow {
  margin-right: 14px;
}

.idea-rating-container i {
  margin-right: 20px;
}

h3 {
  color: #6D6E71;
  margin-right: 4px;
  padding-top: 6px;
}

